fsrepo/.classpath
fsrepo/.project
fsrepo/.settings/.jsdtscope
fsrepo/.settings/org.eclipse.core.resources.prefs
fsrepo/.settings/org.eclipse.jdt.core.prefs
fsrepo/.settings/org.eclipse.m2e.core.prefs
fsrepo/.settings/org.eclipse.wst.common.component
fsrepo/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
fsrepo/.settings/org.eclipse.wst.common.project.facet.core.xml
fsrepo/.settings/org.eclipse.wst.jsdt.ui.superType.container
fsrepo/.settings/org.eclipse.wst.jsdt.ui.superType.name
fsrepo/.settings/org.eclipse.wst.validation.prefs
liferay-owncloud-hook/.classpath
liferay-owncloud-hook/.project
liferay-owncloud-hook/.settings/.jsdtscope
liferay-owncloud-hook/.settings/org.eclipse.core.resources.prefs
liferay-owncloud-hook/target
liferay-owncloud-hook/.settings/org.eclipse.jdt.core.prefs
liferay-owncloud-hook/.settings/org.eclipse.m2e.core.prefs
liferay-owncloud-hook/.settings/org.eclipse.wst.common.component
liferay-owncloud-hook/.settings/org.eclipse.wst.common.project.facet.core.xml
liferay-owncloud-hook/.settings/org.eclipse.wst.jsdt.ui.superType.container
liferay-owncloud-hook/.settings/org.eclipse.wst.jsdt.ui.superType.name
liferay-owncloud-hook/.settings/org.eclipse.wst.validation.prefs
liferay-owncloud-hook/target/classes/content/Language.properties
liferay-owncloud-hook/target/classes/org/up/liferay/hooks/documentsandmedia/OwncloudCMISAtomPubRepository.class
liferay-owncloud-hook/target/classes/org/up/liferay/hooks/documentsandmedia/OwncloudCMISRepository.class
liferay-owncloud-hook/target/classes/org/up/liferay/hooks/documentsandmedia/OwncloudRepositoryStartupAction.class
liferay-owncloud-hook/target/classes/org/up/liferay/hooks/documentsandmedia/RepositoryEntryModelListener.class
liferay-owncloud-hook/target/classes/org/up/liferay/hooks/documentsandmedia/RepositoryStartupAction.class
liferay-owncloud-hook/target/classes/portal.properties
liferay-owncloud-hook/target/classes/portlet.properties
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1.war
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/content/Language.properties
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/org/up/liferay/hooks/documentsandmedia/OwncloudCMISAtomPubRepository.class
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/org/up/liferay/hooks/documentsandmedia/OwncloudCMISRepository.class
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/org/up/liferay/hooks/documentsandmedia/OwncloudRepositoryStartupAction.class
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/org/up/liferay/hooks/documentsandmedia/RepositoryEntryModelListener.class
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/org/up/liferay/hooks/documentsandmedia/RepositoryStartupAction.class
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/portal.properties
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/classes/portlet.properties
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/chemistry-opencmis-client-api-0.12.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/chemistry-opencmis-client-bindings-0.12.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/chemistry-opencmis-client-impl-0.12.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/chemistry-opencmis-commons-api-0.12.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/chemistry-opencmis-commons-impl-0.12.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/portal-impl-6.2.1.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/slf4j-api-1.7.5.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/stax2-api-3.1.1.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/stax-api-1.0-2.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/lib/woodstox-core-asl-4.2.0.jar
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/liferay-hook.xml
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/liferay-plugin-package.properties
liferay-owncloud-hook/target/liferay-owncloud-hook-0.1/WEB-INF/web.xml
liferay-owncloud-hook/target/m2e-wtp/web-resources/.gitignore
liferay-owncloud-hook/target/maven-archiver/pom.properties
